html {
    /* Increase the root font size size a bit from the browser default of 16px
       to improve legibility. */
    font-size: 18px;
}

body {
    /* Reset the margin */
    margin: 0;

    /* Set the font */
    font-family: system-ui, sans-serif;
}

/* Use CSS variable to define background colors. This simplifies changing them
   around on page load using styled components without causing FOUC */
body {
    background-color: var(--mrmr-background-color);
    color: var(--mrmr-color-1);
}
