body {
    background-color: var(--mr-c-bg);
    color: var(--mr-c-text-1);
    font-family: system-ui, sans-serif;
    font-size: 22px;
    display: grid;
    grid-template-columns: 1fr min(31em, 100%) 5fr;
}

main,
footer {
    /* A width limited column positioned slightly towards the left */
    grid-column: 2/3;
    padding-inline: 1rem;
}

footer {
    font-size: small;
    margin-block: 3rem;
    a {
        text-underline-offset: 5px;
        color: var(--mr-c-text-2);
    }
    a:hover {
        color: var(--mr-c-text-1);
    }
}

header {
    font-family: serif;
    font-style: italic;
    font-size: larger;

    h1 {
        margin-block-end: 0.1em;
    }
}

.muted {
    color: var(--mr-c-text-2);
}

div.note,
.dot {
    background-color: var(--mr-c-text-2);
    opacity: 0.2;
}

button.note {
    border: 0;
    cursor: pointer;
    background-color: var(--mr-c-text-2);
}

button.note[data-root] {
    background-color: darkkhaki;
}

button.note[data-playing] {
    background-color: var(--mr-c-accent-1);
}

button.note:hover {
    background-color: var(--mr-c-accent-1);
}

.ladder {
    box-sizing: border-box;
    min-height: 80svh;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 4px;
    justify-content: space-evenly;
}

.ladder .note {
    width: 50%;
    /* Don't let anything shrink */
    flex-shrink: 0;
    /* Give all the items a fixed height */
    flex-basis: 12px;
    border-radius: 4px;
    margin-inline-end: calc(8px * (13 - var(--x)));
}

section + section {
    margin-block-start: 3rem;
}

.fretboard {
    /* The last row is the mostly visually empty markings, so give it
           increased margin an the start to visually center the entire fretboard
           within the flow */
    margin-block-start: 32px;
}

.fretboard .string,
.fretboard .marks {
    display: flex;
    justify-content: center;
    margin-block: 12px;
    gap: 12px;
}

.fretboard .string {
    flex-direction: row-reverse;
}

.fretboard .note,
.fretboard .marks > div {
    flex-basis: 50px;
    height: 12px;
    border-radius: 3px;
}

.dot {
    width: 8px;
    height: 8px;
    margin: auto;
    border-radius: 4px;
}

button.interval {
    border: 0;
    cursor: pointer;
    background: transparent;
    color: var(--mr-c-text-2);
    font-size: 2rem;
}

button.interval[data-playing] {
    color: var(--mr-c-accent-1);
}

button.interval:hover {
    color: var(--mr-c-accent-1);
}

.piano {
    padding-inline-start: 20px;

    display: flex;
    justify-content: center;
    gap: 2px;
}

.piano > .major {
    border-radius: 3px;

    width: 46px;
    height: 190px;
    margin-inline-start: -16px;
}

.piano > div.major {
    background-color: oklch(84.24% 0.006 43.32 / 0.1);
}

.piano > .minor {
    border-radius: 3px;

    width: 46px;
    height: 120px;
    margin-inline-start: -16px;

    z-index: 1;
    background-color: var(--mr-c-bg);
}

.piano > .adj {
    margin-inline-start: 0;
}

.piano > button {
    border: 0;
    cursor: pointer;
}

.piano > button.major {
    background-color: var(--mr-c-text-2);
    opacity: 0.6;
}

.piano > button.minor {
    background-color: oklch(27% 0 0);
    @media (prefers-color-scheme: dark) {
        background-color: oklch(22% 0 0);
    }
}

.piano > button.major:hover,
.piano > button.major[data-playing] {
    opacity: 1;
}

.piano > button.minor:hover,
.piano > button.minor[data-playing] {
    background-color: black;
}
